/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*,*::after,*::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family: 'alk';
    src: url('./assets/fonts/alk-sanet.ttf');
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/popins/Poppins-Regular.ttf');
    font-family: 'Poppins-samibold';
    src: url('./assets/fonts/popins/Poppins-SemiBold.ttf');

    font-family: 'Vermin';
    src: url('./assets/fonts/Vermin.otf');
}
#wrapper{
    background-color: black;
    position: relative;
width: 100%;
height: auto;
background: -webkit-gradient(linear, left top, left bottom, color-stop(24.48%, rgba(133, 51, 255, 0.85)), to(rgba(96, 185, 185, 0)));
background: -o-linear-gradient(top, rgba(133, 51, 255, 0.85) 24.48%, rgba(96, 185, 185, 0) 100%);
background: linear-gradient(180deg, rgba(133, 51, 255, 0.85) 24.48%, rgba(96, 185, 185, 0) 100%);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
overflow: hidden;
}

#header{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0.6)));
    background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.6) 100%);
    -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
            justify-content: space-around;
}
.logoArea{
    display: inline-block;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logoArea a{
    font-family: 'Vermin';
    font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 46px;
color: rgba(255, 255, 255, 0.75);
text-decoration: none;
}
.logoArea a:{
    color: rgba(255, 255, 255, 0.75);
}
.navbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.navbar ul.navbar_ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
list-style: none;
/* margin-left: 235px; */
margin-left: 35px;
}
.navbar ul.navbar_ul li{
    margin-left: 25px;
padding-top: 10px;
}
.navbar ul.navbar_ul li:active{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(133, 51, 255, 0.8)), to(rgba(133, 51, 255, 0)));
    background: -o-linear-gradient(top, rgba(133, 51, 255, 0.8) 0%, rgba(133, 51, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(133, 51, 255, 0.8) 0%, rgba(133, 51, 255, 0) 100%);
}
.navbar ul.navbar_ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 37.5px;
    color: #fff;
    font-family: 'alk';
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5px;
    padding-right: 5px;
}

.userArea{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.userArea .regLog_user{
    position: relative;
    left: 25px;
    top: 15px;
}
.userArea .regLog_user .user_ico{
background-image: url('./assets/images/Login.png');
width: 30px;
height: 30px;
position: absolute;
}

.userArea .regLog_user .user_ico:active{
    background-image: url('./assets/images/Login_active.png');
}
 /* .user_ico:active +.regLog_user_form{
    display:flex;
} */
.regLog_user_form{
    display: none;
  height: auto;
  top: 70px;
  left: -310px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  width: 550px;
  font-family: 'Poppins-Regular';
  z-index: 10;
  -webkit-box-shadow:5px 5px #A889F2;
          box-shadow:5px 5px #A889F2;
}

.user_inputs{
    width: 350px;
    display: inline-block;
    margin-left: 24px;
    margin-top: 24px;
    padding-bottom: 24px;
    

}
.user_inputs label{
    margin-top: 6px;
    font-size: 24px;
    text-transform: capitalize;
}

.user_inputs input{
    margin-top: 6px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    background: #DEDEDE;
border-radius: 5px;
border: none;
}
.user_inputs input::-webkit-input-placeholder{
    padding-left: 18px!important;
    padding-top: 10px;
}
.user_inputs input::-moz-placeholder{
    padding-left: 18px!important;
    padding-top: 10px;
}
.user_inputs input:-ms-input-placeholder{
    padding-left: 18px!important;
    padding-top: 10px;
}
.user_inputs input::-ms-input-placeholder{
    padding-left: 18px!important;
    padding-top: 10px;
}
.user_inputs input::placeholder{
    padding-left: 18px!important;
    padding-top: 10px;
}

.u_acaunt{
    list-style: none;
    margin-top: 30px;
    margin-left: 24px;
    height: auto;
display: inline-block;
}
.u_acaunt li{
    margin-top: 45px;
    background: #A889F2;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 140px;
    height: 50px;
}
.u_acaunt li a{
    padding-left:22px;
    padding-right:22px;
    padding-top: 6px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Poppins-Regular';
    text-transform: capitalize;
    color: #fff;
    display: block;
}

.shopingCartArea{
    position: relative;
    width: auto;
    height: auto;
}

.cart_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('./assets/images/cart.png');
    left: 65px;
    top: 15px;
}
.cart_icon:active {
    background-image: url('./assets/images/cart_active.png');
}

.shopingCartArea_box {
    width: 550px;
    height: 225px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    position: absolute;
    top: 70px;
    left: -315px;
    list-style: none;
    display: none;
overflow: auto;

}

.shopingCartArea_box::-webkit-scrollbar{
    background: #d8c3a4 !important;
    border-radius: 5px !important;
    width: 10px;

  }

  .shopingCartArea_box::-webkit-scrollbar-thumb{
    background: linear-gradient(135deg, #703FBB 0%, #A889F2 57.81%);
    border-radius: 5px !important;;
    width: 10px;
  }


  
.shopingCartArea_box h3{
    font-family: 'Poppins-Regular';
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 24px;
    margin-bottom: 5px;
    display: block;
}

.shopingCartArea_box_item {
    width: 495px;
    margin-left: 25px;
    height: auto;
    /* background-color: orange; */
    position: relative;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    margin-top: 25px;

}


.shopingCartArea_box_item .shopingCartArea_box_item_img{
    display: inline-block;
    width: 80px;
    height: 35px;
    float: left;
}

.shopingCartArea_box_item_name{
    width: 125px;
    height: auto;
    vertical-align: baseline;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Poppins-Regular';
    font-style: normal;
    margin-left: 5px;
    margin-right: 15px;
}

.shopingCartArea_box_item_price{
    background-color: #A889F2;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    font-family: 'Poppins-Regular';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

.items_numbar_calc{
    width: 80px;
    height: 30px;
    background-color: #A889F2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  right:  55px;
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #fff;
}
.items_numbar_calc_num{
    width: 10px;
    height: 30px;
    text-align: center;
padding-top: 5px;
padding-bottom: 5px;


}

.items_numbar_calc_min{
    padding-top: 5px;
}
.items_numbar_calc_plus{
    padding-top: 5px;
}


.shopingCartArea_box_item_cart{
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    top: 5px;
}


.WishlistArea{
    position: relative;
    width: 25px;
    height: 25px;
    background-image: url('./assets/images/heart.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: 110px;
    top: 15px;
}






.searchArea{
    position: relative;
    width: 280px;
    height: 30px;
    /* left: 145px; */
    top: 8px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.searhBox{
    background: -o-linear-gradient(315deg, #FCF9FF 0%, rgba(176, 153, 250, 0.65) 100%);
    background: linear-gradient(135deg, #FCF9FF 0%, rgba(176, 153, 250, 0.65) 100%);
border-radius: 20px;
width: 250px;
height: 40px;
display: none;
}
.search_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('./assets/images/search.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    border: none;
    top: 8px;
    background-color: transparent;
    right: -10px;
}


.content{

    width: 1325px;
    height: auto;
    /* background-color: red; */
    margin:245px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content__left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.content__left_new{
    width: 100%;
    height: 500px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.25));
margin-top: 25px;
position: relative;
}
.content__left_new_content{
    position: absolute;
    width: 100%;
    height: 100%;
}
.content__left_new_content > img{
    padding-left: 15px;
    padding-right: 15px;
}


.carousell_area{
    width: 500px;
    height: 600px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.5));
position: relative;

}

h2.carousell_area_box_title{
background: linear-gradient(45deg, black, transparent);
padding: 10px;
text-transform: uppercase;
}
.carousell_area .carousell_area_box{
    position: absolute;
    width: 100%;
    display: none;
    height: 405px;
    max-height: 100%;
    
}
.carousell_area_box_active{
    display: block!important;
    
}
.carousell_area .carousell_area_box >img{
    width: 100%;
    height: 100%;
    left: 55px;
    top: 35px;
    /* position: absolute; */
}

h2.carousell_area_box_title{
    background: linear-gradient(45deg, black, transparent);
    padding: 10px;
    text-transform: uppercase;
    display: none;
    }

    .carousell_area_box:hover .carousell_area_box_title{
        transition-duration: 0.5ms;
        transition: all;
        display: block;
    }
.carousell_area_box_title a{
    font-family: 'Vermin';
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
    font-style: italic;
}
.carousell_area_arrows{
    position: relative;
    width: 390px;
    height: 60px;
    /* background-color: tan; */
    top: 490px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
}

.carousell_area_arrows .carousell_area_arrows_left{
    width: 65px; 
    height: 60px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))); 
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); 
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
border-radius: 10px 0px 0px 0px;
-webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
position: relative;
}
.carousell_area_arrows .carousell_area_arrows_left::before{
    content: '\f054';
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    text-align: center;
   font-size: 35px;
position: absolute;
left: 20px;
top: 10px;
}

.carousell_area_arrows .carousell_area_arrows_right{
    width: 65px; 
    height: 60px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0))); 
    background: -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); 
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
border-radius: 10px 0px 0px 0px;
-webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
position: relative;
}

.carousell_area_arrows .carousell_area_arrows_right::before{
    content: '\f053';
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    text-align: center;
   font-size: 35px;
position: absolute;
left: 20px;
top: 10px;
}

.content__right{
    height: auto;
    width: 800px;
    /* background: linear-gradient(135deg, #703FBB 0%, #A889F2 57.81%); */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
-webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
margin-left: 20px;
}

.content__right_top{
    height: 600px;
    position: relative;
    width: 800px;
}
.content__right_top_box{
   height: 100%;
    width: 100%;
    position: absolute;
left: 25px;
top: 55px;
}
.content__right_top_box img{
    height: 400px; 
    width: 750px;
}

.content__right_bottom{
    width: 750px;
    height: 400px;
    position: relative;
    left: 25px;
    top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    background: rgba(255, 255, 255, 0.9);
-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 10px
}

.content__right_bottom_box .Line{
 position: absolute;
    width: 100px;
    height: 10px;
    margin-left: 45px;
    margin-top: 75px;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#8533FF), to(rgba(133, 51, 255, 0)));
    
    background: -o-linear-gradient(top, #8533FF 0%, rgba(133, 51, 255, 0) 100%);
    
    background: linear-gradient(180deg, #8533FF 0%, rgba(133, 51, 255, 0) 100%);
}

    .content__right_bottom  .content__right_bottom_box h2 {
        font-family: 'Poppins-samibold';
        left: 45px;
        top: 100px;
        font-size: 30px;
        position: absolute;

    }
.content__right_bottom_sub{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 705px;
    margin-left: 45px;
    margin-top: 135px;
}
.content__right_bottom_box{
position: absolute;
z-index: 10px;
}



.content__right_bottom_box  .content__right_bottom_sub h3{
    font-family: 'Poppins-Regular';
    font-size: 25px;
    text-transform: capitalize;
    display: inline-block;
    height: 40px;

    margin-top: 35px;
    overflow: hidden;
}


.content__right_bottom_box .content__right_bottom_sub  >img{
    width: 450px;
    height: 260px;
}


#footer{
    width: 100%;
    height: 250px;
    background: #E4EDF5;
-webkit-box-shadow: 0px 1px 75px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 1px 75px rgba(0, 0, 0, 0.25);
position: relative;
}

#footer .footer_social{
    width: 100%;
    height: auto;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 35px;
}

#footer .footer_social #fb{
    width: 170px;
    height: 50px;
    /* background-color: #A889F2; */

}

#footer .footer_social #fb a{
    /* background-color: #000000; */
    font-size: 25px;
    width: 100%;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
position: relative;
height: 50px;
color: #fff;
text-decoration: none;
}
#footer .footer_social #fb a::before{
    content: '';
    width: 100px!important;
    height: 5px;
    background-image: url('./assets/images/Rectangle\ 1.png');
    position: absolute;
    top: 15px;
}
#footer .footer_social #fb a i {
    position: absolute;
    left: 115px;
    background: #000;
    border-radius: 50%;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}










#footer .footer_social #insta{
    width: 170px;
    height: 50px;
    /* background-color: #A889F2; */

}

#footer .footer_social #insta a{
    font-size: 25px;
    width: 100%;
    /* background-color: red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
position: relative;
height: 50px;
color: #fff;
text-decoration: none;
}



#footer .footer_social #insta a::before{
    content: '';
    width: 100px!important;
    height: 5px;
    background-image: url('./assets/images/Rectangle\ 1.png');
    position: absolute;
    top: 15px;
}
#footer .footer_social #insta a i {
    position: absolute;
    right: 165px;
    border-radius: 50%;
    /* padding: 10px; */
    padding-left: 15px;
    padding-right: 18px;
    padding-top: 10px;
    color: #000;
    width: 70px;
    font-size: 40px;
    /* left: -538px; */
    top: -11px;
}


.footer_logo{
color: #000;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Vermin';
    
}
.footer_logo >span{
margin-left: -55px;

}

.footer_copyryght{
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 35px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Poppins-Regular';
}
.footer_copyryght_content{
    margin: auto;
}
.footer_copyryght_content span{
    margin-left: 10px;
    margin-right: 10px;
}