*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
 
    src: url('./assets/fonts/popins/Poppins-LightItalic.ttf');
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/popins/Poppins-Regular.ttf');

}
#wrapper{
    background-color: black;
    position: relative;
width: 100%;
height: 1617px;
background: linear-gradient(180deg, rgba(133, 51, 255, 0.85) 24.48%, rgba(96, 185, 185, 0) 100%);
}

#header{
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    display: flex;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.6) 100%);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
    
}
.logoArea{
    display: inline-block;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar{
    display: flex;
}
.navbar ul.navbar_ul{
    display: flex;
    color: #fff;
list-style: none;
margin-left: 235px;
}
.navbar ul.navbar_ul li{
    margin-left: 25px;
padding-top: 10px;
}
.navbar ul.navbar_ul li:active{
    background: linear-gradient(180deg, rgba(133, 51, 255, 0.8) 0%, rgba(133, 51, 255, 0) 100%);
}
.navbar ul.navbar_ul li a{
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    line-height: 37.5px;
    color: #fff;
    font-family: 'Poppins-Regular';
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5px;
    padding-right: 5px;
}

.userArea{
    list-style: none;
    display: flex;

}
.userArea .regLog_user{
    position: relative;
    left: 25px;
    top: 15px;
}
.userArea .regLog_user .user_ico{
background-image: url('./assets/images/Login.png');
width: 30px;
height: 30px;
position: absolute;
}

.userArea .regLog_user .user_ico:active{
    background-image: url('./assets/images/Login_active.png');
}
 /* .user_ico:active +.regLog_user_form{
    display:flex;
} */
.regLog_user_form{
    display: none;
  height: auto;
  top: 70px;
  left: -310px;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  width: 550px;
  font-family: 'Poppins-Regular';
  z-index: 10;
  box-shadow:5px 5px #A889F2;
}

.user_inputs{
    width: 350px;
    display: inline-block;
    margin-left: 24px;
    margin-top: 24px;
    padding-bottom: 24px;
    

}
.user_inputs label{
    margin-top: 6px;
    font-size: 24px;
    text-transform: capitalize;
}

.user_inputs input{
    margin-top: 6px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    background: #DEDEDE;
border-radius: 5px;
border: none;
}
.user_inputs input::placeholder{
    padding-left: 18px!important;
    padding-top: 10px;
}

.u_acaunt{
    list-style: none;
    margin-top: 30px;
    margin-left: 24px;
    height: auto;
display: inline-block;
}
.u_acaunt li{
    margin-top: 45px;
    background: #A889F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 140px;
    height: 50px;
}
.u_acaunt li a{
    padding-left:22px;
    padding-right:22px;
    padding-top: 6px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Poppins-Regular';
    text-transform: capitalize;
    color: #fff;
    display: block;
}

.shopingCartArea{
    position: relative;
    width: auto;
    height: auto;
}

.cart_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('./assets/images/cart.png');
    left: 65px;
    top: 15px;
}
.cart_icon:active {
    background-image: url('./assets/images/cart_active.png');
}

.shopingCartArea_box {
    width: 550px;
    height: 225px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    position: absolute;
    top: 70px;
    left: -315px;
    list-style: none;
    overflow: auto;
    display: none;
    flex-direction: column;


}.shopingCartArea_box h3{
    font-family: 'Poppins-Regular';
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    margin-top: 24px;
    margin-left: 24px;
    border-bottom: 1px solid;
    margin-right: 24px;
}

.searchArea{
    position: relative;
    width: 280px;
    height: 30px;
    left: 145px;
    top: 8px;
display: flex;
justify-content: space-between;
}

.searhBox{
    background: linear-gradient(135deg, #FCF9FF 0%, rgba(176, 153, 250, 0.65) 100%);
border-radius: 20px;
width: 250px;
height: 40px;
display: none;
}
.search_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(./assets/images/search.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    border: none;
    top: 8px;
    background-color: transparent;
    right: -10px;
}
